
.table-head th,.table td{
    border: 1px solid #949094;
    padding: 1rem;
    text-align: center;
    /* border-bottom: 1px solid rgb(136, 86, 86); */
}
.table-head{
    background-color:#beb9bf;
    text-transform: uppercase;
}
.table-head th{
    font-weight: 500;
}

.table-head>th:first-child{
    border-top-left-radius: 2px;
}

.table-head>th:last-child{
    border-top-right-radius: 2px;
}
#table{
    overflow-x: auto;
}
.tbl{
    background-color: #D3CED4;
    margin-top: 2.4rem;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 2px;
    border: 1px solid #949094;
    width: 100%;
}


.buttons{
    align-self: flex-end;
}

#editTitle{
    font-size: 2.4rem;
}

.admin{
    margin-top: 1.2rem;
}

@media screen and (max-width:1000px) {
    .admin{
        padding: 0;
    }
}