.grid {
    display: grid;
    grid-template-areas:  'first first second'
                          'first first third';
}

.main {
    min-height: 90vh;
    color: #050401;
    
    background: linear-gradient(to bottom,#fffaff, rgba(255, 255, 255, 0.85)), url('../img/main2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
    overflow: hidden;
    padding: 0 64px;
}

.main-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-image {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 400px;
    max-height: 400px;

}

.main-image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.main-header {
    font-size: 2.25rem;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-weight: 500;
    letter-spacing: -1px;
}

.main-desc {
    margin-bottom: 36px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 1.05rem;
}


.shop-button,
.login-button {
    font-size: larger;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 8px 24px;
}

.shop-button{
    border: 2px solid #307692;
}

.login-button{
    background: transparent;
    color: #050401;
    border: 2px solid #050401;
}
.login-button:hover{
    background-color:#cfcbcf;
}
.login-button:active{
    background-color: #b8b4b8;
}
.main-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.photo1 {
    min-height: 100vh;
    grid-area: first;
}
.photo2 {
    grid-area: second;
}

.photo {
    position: relative;
    overflow: hidden;
    color: #050401;
    display: flex;
    align-items: flex-end;
    background-color: #fffaff;
}


.img-holder1 {
    background:linear-gradient(to right,#b8b4b828, rgba(255, 255, 255, 0.2)),  url('../img/iphone.jpg');
}

.img-holder2 {
    
    background:linear-gradient(to right,#b8b4b828, rgba(255, 255, 255, 0.2)), url('../img/hp-envy.jpg');
}

.img-holder3 {
    background-color: #fffaff;
    background-image:linear-gradient(to right,#b8b4b828, rgba(255, 255, 255, 0.2)), url('../img/sony.png');
}

.img-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

.photo:hover .img-holder {
    transform: scale(1.05);
}

.photo3 {
    grid-area: third;
}

.article1-title {
    font-size: 2rem;
    margin-bottom: 8px;
}


.article-title {
    font-size: 1.5rem;
}

.cmimi {
    font-size: 1.05rem;
}

.article1-cmimi {
    font-size: 1.3rem;
}

.article {
    background: #fffaffb6;
    width: 100%;
    text-align: center;
    z-index: 1;
    padding: 10px;
}

.article1 {
    padding: 24px;
}

.about-us{
    min-height: 80vh;
    background:linear-gradient(to bottom,rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url("../img/laptop2.jpg");
    background-size:cover;
    background-position:bottom;
    align-items: center;
    justify-content: space-around;
    padding: 32px 64px;
    color: #050401;
    display: flex;
    gap: 24px;
}
.about-us h2{
    margin-bottom: 10px;
    font-size: 2rem;
    letter-spacing: -1px;
    
    margin-bottom: 18px;
    font-weight: 500;
}
.about-us p{
    font-size: 1.05rem;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 36px;
}
.about-image img{
    width: 50%;
    border-radius: 50%;
}
.about-content{
    width: 50%;
}

@media screen and (max-width:768px) {
    .grid {
        grid-template-columns:1fr;
        grid-template-areas: 'first' 'second' 'third';
    }
    .about-image{
        display: none;
    }
    .about-us{
        flex-wrap: wrap;
        justify-content: center;
    }
    .photo {
        min-height: 60vh;
    }

    .about-content{
        width: 100%;
    }
    .main-image {
        display: none;
    }
    .article1-cmimi {
        font-size: 1.05rem;
    }

    .article1-title{
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .article1 {
        padding: 10px;
    }

    .main-text {
        font-size: 1.3rem;
        color: white;
        padding: 10px;
    }
}