
.shop-grid{
    display: grid;
    grid-template-areas: 'categ categ'
                         'filter products';
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.categories{
    grid-area: categ;
    display: flex;
    gap: 15px;
    padding: 5px 40px;
}

.shop-grid-item,.product{
    background: #D3CED4;
}

.category{
    color: #050401;
    font-size: 0.92rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 9px;
    position: relative;
    transition: all 0.15s ease-in-out;
}
.category:active{
    border-radius: 3px;
}

.category::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    right: 0;
    transition: width 0.15s ease-in;
}

.category:hover:after{
    width: 100%;
    background-color: #050401;
}

.category:active::after{
    display: none;
}

.product-filter{
    grid-area: filter;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-width: 300px;
}

.filter-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 8px;
}

.filter,.filter-price{
    color: #050401;
    border-bottom: 1px solid #beb9bf;
}
.filter:last-child{
    border-bottom: 0;
}
.filter-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-items{
    background-color: #beb9bf;
    padding: 10px;
}

.filter-price{
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
    gap: 9px;
}

.filter-name{
    text-transform: capitalize;
}

.filter-item-name{
    width: 100%;
}

#price-Input{
    width: 100%;
    font-size: 1rem;
    -webkit-appearance: none;
    background: #307692;
    outline: none;
    height: 10px;
    opacity: 0.9;
    border-radius: 4px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#price-Input:hover {
    opacity: 1;
  }
  
#price-Input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #050401;
    cursor: pointer;
}
  
#price-Input::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: #050401;
    cursor: pointer;
}

.price-label{
    display: flex;
    justify-content: space-between;
    font-size: 0.92rem;
}

.price-io{
    display: flex;
    align-items: center;
}


.filter-check{
    margin: 0;
    width: 16px;
    height: 16px;
}

.filter-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.filter-item:last-child{
    margin-bottom: 0;
}

.filter-header:hover{
    color: #460D01;
}

.filter-head{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px 0;
    cursor: pointer;
}

.filter-title{
    text-transform: uppercase;
    font-size: 1.1rem;
}

.filter-icon{
    display: none;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,220px);
    justify-content: flex-start;
    align-self: flex-start;
    gap: 10px;
    margin-bottom: 24px;
}

.product-image{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 200px;
}

.product-image img{
    
    transition: all 0.15s ease-in-out;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product,.product-filter,.categories{
    box-shadow: 0px 0px 1px #050401a8;
}



.product-buttons{
    display: flex;
    justify-content: space-between;
}

.product-body{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-title{
    font-size: 0.95rem;
    height: 35px;
}

.discount{
    text-decoration: line-through;
    color: #460D01;
    font-size: 1rem;
}
.product-price{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 15px;
}

.category-more{
    display: none;
}

@media screen and (max-width:800px) {
    .shop-grid{
        grid-template-areas: 'categ'
                             'filter'
                             'products';
       grid-template-columns: 100%;
       gap: 8px;
    }
    .categories{
        gap: 5px;
        padding: 10px;
        justify-content: space-between;
        width: 100%;
    }
    .product-filter{
        position: sticky;
        z-index: 300;
        top:57px;
        min-height: auto;
        width: 100%;
        padding:2px 24px;
    }
    .filter-head{
        justify-content: space-between;
    }
    .filter-title{
        font-size: 1rem;
    }
    .filter-icon{
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: block;
        transition: all 0.1s ease-in-out;
    }
    .rotate{
        transform: rotate(-90deg);
    }
    .product-filter,.categories,.products{
        justify-self: center;
    }
    .category-hidden{
        display: none;
    }
    .category-more{
        display: block;
    }
    .category{
        cursor: pointer;
        padding: 4px 8px;
    }
    .products{
        width: 85%;
        justify-content: center;
    }
}


@media screen and (min-width:561px) {
    .product{
        transition: all 0.12s ease-in-out;
    }
    .product:hover{
        transform:scale(1.02);
    }
}

@media screen and (max-width:560px) {
    .products{
        grid-template-columns: 1fr;
    }
    .product-image{
        height: 40vh;
        background-size: contain;
    }
}